.main-header {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.logo-icon {
    border-radius :50%;
    height:50px;
    width:50px;
    background-image: url(../pict/logo.png);
    background-size: cover;
    background-position: center;
}

nav > a {
    border: 1px solid black;
    padding: 8px;
    color:black;
    cursor:pointer;
    text-decoration:none
}

.left-rounded {
    border-radius: 6px 0 0 6px
}

.right-rounded {
    border-radius: 0 6px 6px 0
}

.banner-image {
    height: 675px;
    background-image:url(../pict/banner.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    height: 700px;
}

.jkt {
    border-radius: 50%;
    height:300px;
    width:300px;
    background-image: url(../pict/jkt.jpg);
    background-size: cover;
    background-position: center;
}

.bdg {
    border-radius: 50%;
    height:300px;
    width:300px;
    background-image: url(../pict/bdg.jpg);
    background-size: cover;
    background-position: center;
}

.sby {
    border-radius: 50%;
    height:300px;
    width:300px;
    background-image: url(../pict/sby.jpg);
    background-size: cover;
    background-position: center;
}

.img {
    display: inline-flex;
    align-content: center;
}

.footer {
    text-align: center
}